@model ProyectoRestaurante.Models.Usuario
@{
    ViewData["Title"] = "Login";
}
<head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="d:\archivos de clases\desarrollo de servicios web\nueva carpeta (4)\proyectorestaurante\views\css\stylesheet.css" rel="stylesheet" />
</head>
<body>

	<div class="container">
		<div class="d-flex justify-content-center h-100">
			<div class="card">
				<div class="card-header">
					<h3>Iniciar Sesión</h3>
				</div>
				<div class="card-body">
                    <!-- Formulario de inicio de sesión -->
                    <form asp-controller="VerificacionUsuario" asp-action="Login" method="post" class="">
                        <div class="form-group">
                            <label asp-for="Correo">Correo electrónico:</label>
                            <input asp-for="Correo" class="form-control" />
                            <span asp-validation-for="Correo" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Contraseña">Contraseña:</label>
                            <input asp-for="Contraseña" type="password" class="" />
                            <span asp-validation-for="Contraseña" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                    </form>
				</div>
				<div class="card-footer">
					<div class="d-flex justify-content-center links">
                        Primera vez?<a href="d:\archivos de clases\desarrollo de servicios web\nueva carpeta (4)\proyectorestaurante\views\registro\registrar.cshtml">Registrate </a>
					</div>
				</div>
			</div>
		</div>
	</div>

@if (ViewData["Mensaje"] != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewData["Mensaje"]
    </div>
}

</body>